
// Body
$body-bg: #fafbfc;

// Typography
$font-family-sans-serif: Dejavu Sans, sans-serif;
$title-sans-serif: Dejavu Sans, sans-serif;
$dejavu: Dejavu Sans, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #cb0001;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$waikawa_grey: #69748C;
