// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    padding: 0px;
    margin: 0px;
}

.navbar-laravel {
    background-color: #343a40;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    .navbar-brand{
        color: #fff;
    }
    .nav-link{
        font-size: 16px;
        color: #fff!important;
        text-transform: capitalize;
    }
}

ul{
    padding: 0px;
    li{
        padding: 0px;
        list-style: none;
    }
}

.card{
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    .card-header{
        border-radius: 5px 5px 0px 0px;
        .card-title{
            margin: 0px;
            font-size: 20px;
            font-family: $title-sans-serif;
            color: #111;
        }
    }
    .card-body{
        .card-title{
            font-family: $title-sans-serif;
            color: $waikawa_grey;
        }
        .nav-pills{

        }
    }
    .card-footer{
        background-color: rgba(0,0,0,0.005);
    }
    &.settings-card{
        .card-body{
            padding: 0px;
            padding-bottom: 5px;
            .sub_title{
                background-color: rgba(0, 0, 0, 0.03);
                padding: 0.75rem 1.25rem;
                border-top: 1px solid #eee!important;
                border-bottom: 1px solid #eee!important;
            }
            .nav-link{
                border-radius: 0px;
            }
        }
    }
}
h1.title{
    font-family: $title-sans-serif;
}
h2.title{
    font-family: $title-sans-serif;
    color: #1c1e21;
    font-size: 30px;
    padding-top: 10px; padding-bottom: 5px;
}
.align-items > li{
    display: inline-block;
    vertical-align: center;
}
.dropdown-menu{
    a{
        text-align: left;
        padding: 10px 20px;
        i{
            width: 25px;
        }
    }
}
